[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
PyAudio = "==0.2.11"
PyQt5-Qt5 = "==5.15.2"
PyQt5-sip = "==12.9.0"
PyQtWebEngine-Qt5 = "==5.15.2"
Pygments = "==2.10.0"
SpeechRecognition = "==3.8.1"
astroid = "==2.8.6"
async_generator = "==1.10"
attrs = "==21.2.0"
autopep8 = "==1.6.0"
"backports.entry-points-selectable" = "==1.1.1"
certifi = "==2021.10.8"
cffi = "==1.15.0"
charset-normalizer = "==2.0.9"
cryptography = "==35.0.0"
dbus-python = "==1.2.18"
distlib = "==0.3.3"
h11 = "==0.12.0"
idna = "==3.3"
isort = "==5.10.1"
lazy-object-proxy = "==1.6.0"
mccabe = "==0.6.1"
outcome = "==1.1.0"
platformdirs = "==2.4.0"
pyOpenSSL = "==21.0.0"
pycodestyle = "==2.8.0"
pycparser = "==2.21"
pylint = "==2.11.1"
six = "==1.16.0"
sniffio = "==1.2.0"
sortedcontainers = "==2.4.0"
toml = "==0.10.2"
trio = "==0.19.0"
trio-websocket = "==0.9.2"
typing-extensions = "==4.0.0"
urllib3 = "==1.26.7"
virtualenv = "==20.10.0"
virtualenv-clone = "==0.5.7"
wrapt = "==1.13.3"
wsproto = "==1.0.0"

[dev-packages]
mypy = "*"
mypy-extensions = "*"

[requires]
python_version = "3.10"
