[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
Flask = "==1.1.4"
Flask-Login = "*"
Flask-Session = "*"
Flask-SocketIO = "==4.3.1"
Flask-Sockets = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pyzmq = "*"
Werkzeug = "*"
gtts = "*"
ipython = "*"
itsdangerous = "*"
karellen-geventws = "*"
librosa = "*"
pyaudio = "*"
python-engineio = "==3.13.2"
python-socketio = "==4.6.0"
scipy = "*"
six = "*"
torch = "*"
transformers = "*"
pygame = "*"
noisereduce = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.6"
